
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                CRUD EXAMEN
            </div>
            <div class="card-body">
                <table class="display responsive nowrap" id="myTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th></th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">

                
                    <input type="hidden" id="txtidExamen" />
                    <div class="form-group">
                        <label for="txtNombre">Nombre:</label>
                        <input type="text" class="form-control" id="txtNombre">
                    </div>
                    <div class="form-group">
                        <label for="txtDescripcion">Descripcion:</label>
                        <input type="text" class="form-control" id="txtDescripcion">
                    </div>
                

                </div>
                    </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        var tabla_examen;
         $(document).ready( function () {
             tabla_examen = $('#myTable').DataTable({
                "ajax": {
                    "url": "@Url.Action("Listar", "Examen")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Nombre" },
                    { "data": "Descripcion" },
                    { "data": "idExamen", "render": function (data) {
                            return "<button class='btn btn-primary btn-sm' type='button' onclick='abrirModal(" + data + ")'><i class='fas fa-pen'></i></button>" +
                                "<button class='btn btn-danger btn-sm ml-2' type='button' onclick='Eliminar(" + data + ")'><i class='fa fa-trash'></i></button>"
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: 'Agregar Nuevo',
                        attr: { class: 'btn btn-success btn-sm' },
                        action: function (e, dt, node, config) {
                            abrirModal(0)
                        }
                    }
                 ],
                 "language": {
                     "url": "@Url.Content("~/Content/datatable/idioma/datatable.es-ES.json")"
                 }

            });
        });


        function abrirModal($idexamen) {

            $("#txtidExamen").val($idexamen);
            if ($idexamen != 0) {
                jQuery.ajax({
                    url: "@Url.Action("Obtener","Examen")" + "?idexamen=" + $idexamen,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data != null) {

                            $("#txtNombre").val(data.Nombre);
                            $("#txtDescripcion").val(data.Descripcion);
                        }

                    }
                });
            } else {
                $("#txtNombre").val("");
                $("#txtDescripcion").val("");
            }

            $('#FormModal').modal('show');

        }

        function Guardar() {
            var $data = {
                oExamen: {
                    idExamen: parseInt($("#txtidExamen").val()),
                    Nombre: $("#txtNombre").val(),
                    Descripcion: $("#txtDescripcion").val(),
                }
            }

            jQuery.ajax({
                url: "@Url.Action("Guardar", "Examen")",
                type: "POST",
                data: JSON.stringify($data),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.resultado) {
                        tabla_examen.ajax.reload();
                        $('#FormModal').modal('hide');
                    } else {
                        alert("No se pudo guardar los cambios");
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                }
            });

        }

        function Eliminar($idexamen) {
            if (confirm("¿Realmente desea eliminar?")) {

                jQuery.ajax({
                    url: "@Url.Action("Eliminar", "Examen")" + "?idexamen=" + $idexamen,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data.resultado) {
                            tabla_examen.ajax.reload();
                        }
                    }
                });


            }
        }

    </script>



}



